{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="icon" href="{{asset('images/binouze.png')}}">
{% endblock %}

{% block body %}
<section class="margin jumbotron banner jumbotron-fluid text-center">
<h1 class="h2-responsive mb-3">B<img src="{{'images/bouteille2.png'}}"width="150px">NOUZE LOVERS</h1>
    <video id="video" autoplay="true" loop muted width="100%">
        <source src="{{asset('images/beer.mp4')}}"></source>        
    </video>
        <div class="container main">
        <div class="contentBox">
            
        </div>
    </div>
    <h1 id="main"></h1>
        
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
