@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    margin:0;
    padding:0;
}

/* Bannière */

.title h1 {
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 10rem;
  margin-top: 50px;
}

video {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.bottle {
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -25px;
}



/* Capsule */
.capsule {
  display: flex;
  justify-content: space-around;
}

.capsule img {
  width: 250px;
}


/* Footer */

.pageFooter {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgb(180, 174, 174) 25%, black 75%);
}

.pageFooter a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
