@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    margin:0 !important;
    padding:0 !important;
}

/* Bannière */

.title h1 {
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  margin-top: 80px;
  font-size: 10vw;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: auto;
  width: 100%;
}

.bottle {
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -20px;
  width: 150px;
}



/* Capsule */
.capsule {
  display: flex;
  justify-content: space-evenly;
}

.capsule img {
  width: 200px;
  justify-content: space-evenly;
}

