@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
  cursor: url(images/binouze.cur), auto !important;
}

body{
    margin:0;
    padding:0;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 10rem;
  margin-top: 15%;
}

video {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

img {
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -25px;
}
