<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <!--lien vers le CSS de la navbar -->        
            <link rel="stylesheet" href="{{asset('css/navbar.css')}}">
            <!--thème boostsrap-->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}        
        {% endblock %}
        <footer class="pageFooter">
        
            <div class="col-md-4 px-5">
                <a href="#">Plan du site</a>
            </div>

            <div class="col-md-4 px-5">
                <a href="#">Mentions légales</a>
            </div>

            <div class="col-md-4 px-5">
                <a href="#">Contactez-nous</a>
            </div>      

        </footer>
        
        {% block javascripts %}                   
        {% endblock %}
    </body>
</html>
