
{% block stylesheets %}    
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{asset('css/jquery.quiz-min.css')}}" />  
  
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="{{asset('js/jquery.quiz-min.js')}}"></script>
{% endblock %}

{% block body %}

<div class="container">
<div class="section1"></div>
  <div id="quiz">
      <div id="quiz-header">
        <h1>Quizz sur la binouze</h1>
      </div>
      <div id="quiz-start-screen">
        <p><a href="#" id="quiz-start-btn" class="quiz-button">Commencez</a></p>
      </div>
  </div>
</div>
<script>
  $('#quiz').quiz({
    //resultsScreen: '#results-screen',
    //counter: false,
    //homeButton: '#custom-home',
    counterFormat: 'Question %current sur %total',
    questions: [
      {
        'q': 'Quel est l\'ancêtre de la bière ?',
        'options': [
          'La gueuze',
          'La cervoise',
          'La gauloise',
          'La bibine'
        ],
        'correctIndex': 1,
        'correctResponse': 'Réponse correcte',
        'incorrectResponse': 'Faux <br>La bonne était la cervoise '
      },
      {
        'q': 'Quelle céréale est utilisée pour la fabrication de la bière blanche ?',
        'options': [
          'Le blé',
          'Le seigle',
          'Le froment',
          'L\'orge'
        ],
        'correctIndex': 2,
        'correctResponse': 'Bien joué',
        'incorrectResponse': 'Faux <br>La bonne réponse était le froment'
      },
      {
        'q': 'Quel pays est le plus grand consommateur de bière par an et par habitant ?',
        'options': [
          'La République tchèque',
          'La France',
          'Les Etats-unis',
          'L\'Australie'
        ],
        'correctIndex': 0,
        'correctResponse': 'Bonne réponse, Tu es doué',
        'incorrectResponse': 'Rejoue encore<br> C\'était la République tchèque'
      },
      {
        'q': 'Que fête-on le 27 Mars ?',
        'options': [
          'La saint Glinglin',
          'La saint Sylvestre',
          'La saint Jean',
          'La saint Patrick'
        ],
        'correctIndex': 3,
        'correctResponse': 'Yes',
        'incorrectResponse': 'Mauvaise réponse <br>C\'est la saint Patrick que l\'on fête le 27 Mars'
      },
      {
        'q': 'Que désignait à l\'origine le mot "pinte" ?',
        'options': [
          'Un vase de table utilisé pour mesurer les liquides alimentaires',
          'Une longue louche en bois utilisé par les brasseurs',
          'Une bière consommée en grande quantité'
        ],
        'correctIndex': 0,
        'correctResponse': 'Bravo, celle là n\'était pas facile',
        'incorrectResponse': 'Faux <br> recommence !!!'
      }
    ]
  });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  

{% endblock %}




